auth.mattswoodwork.com {
    reverse_proxy 192.168.1.229:9091
}

nas.mattswoodwork.com {
	forward_auth 192.168.1.229:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
		reverse_proxy 192.168.1.142
}

stash.mattswoodwork.com {
	forward_auth 192.168.1.229:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
		reverse_proxy 192.168.1.142:30198
}

glance.mattswoodwork.com {
	forward_auth 192.168.1.229:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
		reverse_proxy 192.168.1.197:8080
}

whisparr.mattswoodwork.com {
	forward_auth 192.168.1.229:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
		reverse_proxy 192.168.1.154:6969
}

whisparr.mattswoodwork.com {
	forward_auth 192.168.1.229:9091 {
		uri /api/authz/forward-auth
		copy_headers Remote-User Remote-Groups Remote-Name Remote-Email
	}
		reverse_proxy 192.168.1.154:6969
}